/* line 1, ../scss/theme-base.scss */
.responav-active .responav-menu li {
  float: none;
}

/* line 5, ../scss/theme-base.scss */
.responav-active .responav-menu li a {
  padding: 12px 12px;
}

/* line 9, ../scss/theme-base.scss */
.responav-active .responav-menu li:first-child a {
  border-top: none;
}

/* line 13, ../scss/theme-base.scss */
.responav-active .responav-menu li:last-child a {
  border-bottom: none;
}
