* {
	margin: 0;
	padding: 0;
}

body,
html {
		height: 100%;
}

body {
	font: 13px/18px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

	/*
	 * Relates to the pseudo class & sibling bug, see
	 * http://css-tricks.com/webkit-sibling-bug/ for more details
	 */
	-webkit-animation: bugfix infinite 1s;
}

/* Also relates to the pseudo class & sibling bug */
@-webkit-keyframes bugfix { from { padding: 0; } to { padding: 0; } }

.outer {
	overflow: hidden;
}

.slide {
	background: #f9f9f9;
	padding: 20px;
}

.content {
	margin-top: 30px;
}

.content ul,
.content ol {
	margin: 10px 40px;
}

h1,h2,h3,p {
	margin-bottom: 18px;
}

h1 {
	line-height: 26px;
}

/* @group .nav */
.nav {
	width: 100%;
	margin: 0 0 20px 0;
	padding: 5px 0;
	background: #333;
	border-radius: 3px;
	overflow: hidden;
}

.nav li {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
}

.nav li a {
	display: block;
	padding: 5px 20px;
	text-decoration: none;
	background: #333;
	color: #f9f9f9;
}

.nav li a:hover {
	background: #2e2e2e;
}

/* @end nav */

/* This is the clickable label */
.slide-toggle {
	float: right;
	cursor: pointer;
	position: relative;
	z-index: 1;
	display: none;
	margin: 10px 10px 0 0;
}

/* Kill the nasty outlines everywhere */
.slide-toggle,
.slide-toggle:active,
.slide-toggle:focus {
	border: none !important;
	outline: none !important;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* The :after pseudo element has an icon that covers the checkbox */
.slide-toggle:after {
	content: "!";
	color: #f9f9f9;
	background: #333;
	display: block;
	height: 30px;
	width: 38px;
	border-radius: 3px;
	font: 24px/30px 'responav';
	text-align: center;
	margin-left: -19px;
}

/* This is the checkbox */
.slide-checkbox {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

/* When it's checked replace the menu icon with a close icon */
.slide-checkbox:checked ~ .slide-toggle:after {
	content: '"';
}

/*
 * I set the width pretty high because I wanted to test on an Ipad in portrait mode,
 * depending on your website you can probably make this narrower
 */
@media handheld, only screen and (max-width: 980px) {

	/* Only show the menu link on smaller screens */
	.slide-toggle {
		display: block;
	}

	/*
	 * The transition value determines the speed
	 * at which the content will slide over
	 */
	.slide {
		-webkit-transition: -webkit-transform 500ms ease;
		-moz-transition: -moz-transform 500ms ease;
		-o-transition: -o-transform 500ms ease;
		transition: transform 500ms ease;


	}

	/*
	 * When the checkbox is checked slide the content
	 * over and the checkbox with it
	 */
	.slide-checkbox:checked ~ .slide {
		-webkit-transform: translateX(70%) scale(1);
		-moz-transform: translateX(70%) scale(1);
		-ms-transform: translateX(70%) scale(1);
		-o-transform: translateX(70%) scale(1);
		transform: translateX(70%) scale(1);
	}

	.nav {
		/*height: 100%;*/
		background: #333;
		border-radius: 0;

		/*
		 * The width determines how much of the page you want to
		 * remain visible once the menu slides over
		 */
		width: 70%;

		/*
		 * Must be absolutely positioned otherwise it won't sit
		 * side by side with the content but instead above it
		 * */
		position: absolute;
		left: 0;
		top: 0;

		/* Keeps the menu hidden off-canvas to the left */
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);

		-webkit-backface-visibility: hidden;
	}

	.nav li {
		float: none;
	}

	.nav li a {
		border-top: 1px solid #222;
		border-bottom: 1px solid #444;
		padding: 12px 12px;
	}

	.nav li:first-child a {
		border-top: none;
	}

	.nav li:last-child a {
		border-bottom: none;
	}

}

@font-face {
	font-family: 'responav';
	src:url('fonts/responav.eot');
	src:url('fonts/responav.eot?#iefix') format('embedded-opentype'),
		url('fonts/responav.woff') format('woff'),
		url('fonts/responav.ttf') format('truetype'),
		url('fonts/responav.svg#responav') format('svg');
	font-weight: normal;
	font-style: normal;
}